.app {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.app-header {
    height: 150px;
    padding: 20px;
    color: white;
}

.app-title {
    font-size: 1.5em;
}

.app-browse-tilecontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.app-tile {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
}

.app-tile-title {
    display: block;
    width: 100%;
}

.app-tile-body {

}

.app-tile-body > img {
    max-height: 400px;
}

.app-intro {
    font-size: large;
}

.app-container {
    width: 100%;
    display: flex;
}

.app-navigation {
    width: 300px;
}

.app-nav-link {
    display: block;
}

.app-page {
    width: calc(100% - 300px);
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app-carousel {

}

.app-carousel-container {
    display: flex;
    width: 100%;
    margin: 50px;
    overflow: hidden;
    align-items: center;
}

.app-carousel-item {
    list-style: none;
}

.app-carousel-item > img {
    width: 200px;
    height: auto;
}

.app-carousel-item-prev, .app-carousel-item-next {
    list-style: none;
    display: block;
    margin: 10px;
}

.app-carousel-item-active {
    display: block;
}

.app-carousel-item-active {
   border: 1px solid black;
}

.app-dialog {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    z-index: 5000;
    background: white;
    transform: translate3d(-50%, -50%, 0);
}

.app-carousel-media-content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5000;
    width: 100%;
    height: auto;
    background: white;
    transform: translate3d(-50%, -50%, 0);
}

.app-dialog-backdrop {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
}